@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  min-height: 100%;
  font-family: 'Poppins' !important;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #274896;
  /* color: #d400ff; */
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.socialIcon img {
  width: 22px;
}
.socialText img {
  width: 18px;
}
.reviewBtn {
  border: 1px solid #274896 !important;
  color: #274896 !important;
}
.navbar-brand img {
  width: 150px;
}
.counsellingBtn {
  background-color: #274896 !important;
  color: white !important;
  padding: 15px !important;
  font-size: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top-nav .dropdown-menu .dropdown-item:hover,
.top-nav .dropdown-menu .dropdown-item:focus {
  border-left: 3px solid #254692 !important;
  color: black !important;
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.top-nav .dropdown-menu .btn:hover,
.top-nav .dropdown-menu .btn:focus {
  font-weight: bold !important;
}
.top-nav .dropdown-menu img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}
.top-nav .dropdown-menu .btn {
  color: #254692 !important;
}
.dropdown-menu li {
  position: relative !important;
}
.dropdown-menu .dropdown-submenu {
  display: none !important;
  position: absolute !important;
  left: 100% !important;
  top: -7px !important;
}
.dropdown-menu .dropdown-left-submenu {
  right: 100% !important;
  left: auto !important;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block !important;
}
.latestNewsCon .nav-pills button {
  background-color: rgb(208, 208, 208) !important;
  color: #254692 !important;
}
.latestNewsCon .nav-pills .active,
.latestNewsCon .nav-pills .active :focus,
.latestNewsCon .nav-pills .active :hover {
  background-color: #254692 !important;
  color: white !important;
}
.top-nav .active,
.top-nav .active :focus,
.top-nav .active :hover {
  color: #254692 !important;
  font-weight: bold !important;
  padding-bottom: 15px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3.1px !important;
  width: fit-content !important;
}
.top-nav {
  font-size: 15px !important;
}
nav a {
  color: black !important;
}
.socialText {
  font-size: 16px !important;
}
.sbtBtn {
  background-color: #254692 !important;
}
.bannerCon {
  position: relative !important;
  height: 600px !important;
}
.carousel {
  position: relative !important;
}
.bannerCon .carousel img {
  object-fit: cover !important;
  height: 600px !important;
}
.bannerFormSec {
  position: absolute !important;
  top: 12%;
  width: 100%;
}
.searchSec {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: saturate(180%) blur(8px) !important;
  color: white !important;
  border: 1px solid white !important;
  font-size: 16px !important;
  padding: 20px !important;
  border-radius: 10px !important;
  margin-top: 232px !important;
}
.searchSec input[type='search'] {
  background: transparent !important;
  border: 1px solid white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
}
.searchSec input::placeholder {
  color: white !important;
}
.searchSec input:focus {
  outline: none !important;
}
.form-control {
  color: white !important;
}
.searchBtn {
  padding: 10px 20px !important;
  font-size: 16px !important;
  color: white !important;
  background-color: #254692 !important;
}
.searchForm {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.submitBtn {
  background-color: #254692 !important;
  color: white !important;
  border-radius: 6px !important;
}
.carousel-indicators {
  top: 530px !important;
}
.bannerCon .carousel-control-prev {
  left: -70px;
}
.bannerCon .carousel-control-next {
  right: -70px;
}
.item {
  align-items: center;
  background-color: tomato;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white !important;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.Analysis-Section {
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.Analysis-Section img {
  width: 70px;
  margin-top: 11px;
}
.Analysis-Section h1 {
  color: #254692;
}
.Analysis-Section h6 {
  color: black;
  font-weight: bold;
}
.latestNewsCon {
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.latestNewsCon h3 {
  color: #254692;
}
.ExpertCon h3 {
  color: #254692;
}
.ExpertCon p {
  font-weight: 400;
  font-size: 16px;
}
.reqBtn button {
  background-color: #254692;
  color: white;
  padding: 10px 30px;
}
.text-blue {
  color: #254692 !important;
}
.card-con .card-text {
  font-size: 16px !important;
}
.readBtn {
  color: rgba(39, 72, 150, 1) !important;
  font-size: 16px !important;
  border: 1px solid rgba(39, 72, 150, 1) !important;
}
.exploreCon {
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.exploreNav a {
  border: 1px solid rgba(39, 72, 150, 0.2) !important;
  border-radius: 0 !important;
  color: rgba(39, 72, 150, 0.6) !important;
}
.exploreNav .active,
.exploreNav .active :focus,
.exploreNav .active :hover {
  background-color: #254692 !important;
  color: white !important;
  border-radius: 0 !important;
}
.exploreNav a:focus {
  background-color: #254692 !important;
  color: white !important;
  border-radius: 0 !important;
}
.exploreCardCon img {
  width: 60px;
  padding: 10px;
  filter: invert(15%) sepia(82%) saturate(2430%) hue-rotate(217deg) brightness(97%) contrast(81%);
  background-color: rgba(39, 72, 150, 0.1);
}
.exploreCardCon .card {
  border: none !important;
  box-shadow: rgba(51, 51, 51, 0.361) 0px 0px 15px !important;
}
.exploreCardCon .card h6 {
  font-size: 15px !important;
}
.studyAbroadNav a {
  border-radius: 0 !important;
  color: #8f8f8f !important;
  text-decoration: none !important;
}
.studyAbroadNav a:hover,
.studyAbroadNav a:focus {
  font-weight: bold !important;
  padding-bottom: 15px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3.1px !important;
  width: fit-content !important;
  color: #254692 !important;
}
.studyAbroadNav .active,
.studyAbroadNav .active :focus,
.studyAbroadNav .active :hover {
  font-weight: bold !important;
  padding-bottom: 15px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3.1px !important;
  width: fit-content !important;
  color: #254692 !important;
}
.footerCon {
  background-color: rgba(21, 41, 88, 1);
  font-size: 16px !important;
  font-weight: 200 !important;
}
.footerIcon img {
  width: 28px !important;
}
.footer-logo {
  width: 205px !important;
}
.footerCon a {
  text-decoration: none !important;
  color: white !important;
}
.download-img {
  width: 190px !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
.top-nav a:hover {
  color: #254692 !important;
}
.footerCon a:hover {
  color: skyblue !important;
}

footer {
  background-color: rgba(39, 72, 150, 1) !important;
}
footer img {
  width: 28px !important;
}
.icon-white {
  filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%) !important;
}
.phone-icon {
  background-color: white !important;
  border-radius: 50% !important;
  padding: 16px 18px !important;
  border: none !important;
  width: 64px !important;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  position: fixed !important;
  z-index: 100 !important;
  bottom: 45px !important;
  left: 30px !important;
}
.DownloadBrchrBtn {
  border-radius: 10px !important;
  border: none !important;
}
.DownloadBrchrBtn img {
  width: 200px !important;
}
.footer-arrow {
  transform: rotate(90deg) !important;
}
.arrowIcon {
  background-color: white !important;
  border-radius: 50% !important;
  padding: 16px 18px !important;
  border: none !important;
  width: 64px !important;
  box-shadow: #00000073 0px 0px 15px !important;
  position: fixed !important;
  z-index: 100 !important;
  bottom: 45px !important;
  right: 30px !important;
}
.whatsappIcon {
  background-color: white !important;
  border-radius: 50% !important;
  border: 20px solid green !important;
  box-shadow: #00000073 0px 0px 15px !important;
  position: fixed !important;
  z-index: 100 !important;
  bottom: 130px !important;
  right: 30px !important;
  transform: rotate(270deg) !important;
}
.featuredClgCard .card-text img {
  filter: invert(20%) sepia(35%) saturate(3748%) hue-rotate(210deg) brightness(93%) contrast(86%) !important;
}
.featuredClgCard .card-text {
  filter: invert(63%) sepia(0%) saturate(14%) hue-rotate(92deg) brightness(92%) contrast(92%);
}
.featuredClgCard a {
  background-color: white;
  color: #254692;
  border: 1px solid #254692 !important;
}
.featuredClgCard .active,
.featuredClgCard .active :focus,
.featuredClgCard .active :hover {
  background-color: #254692 !important;
  color: white !important;
  box-shadow: #254692 0px 0px 10px !important;
}
.featuredClgCard {
  margin-right: 10px !important;
}
.newsLinkSec {
  background-color: #274896;
  color: white;
}
.StudyAbroadCard .card-text img {
  filter: invert(20%) sepia(35%) saturate(3748%) hue-rotate(210deg) brightness(93%) contrast(86%) !important;
}
.StudyAbroadCard .card-text {
  filter: invert(63%) sepia(0%) saturate(14%) hue-rotate(92deg) brightness(92%) contrast(92%);
}
.StudyAbroadCard a {
  background-color: white;
  color: #254692;
  border: 1px solid #254692 !important;
}
.StudyAbroadCard {
  margin-right: 10px !important;
}
.nav-pills {
  border: 0 !important;
}
.carousel-container {
  overflow: visible !important;
}
.carousel-container {
  position: relative !important;
}
.newsLinkSec .carousel-button-group {
  margin: -50px 0px 0px 0px !important;
}
.FeaturedClgCon .carousel-button-group {
  position: absolute !important;
  top: 260px !important;
  width: 100%;
}
.FeaturedClgCon .fi-left {
  margin-left: -30px !important;
}
.FeaturedClgCon .fi-right {
  margin-right: -10px !important;
}
.StudyAbroadCon .carousel-button-group {
  position: absolute !important;
  top: 390px !important;
  width: 100%;
}
.StudyAbroadCon .fi-left {
  margin-left: -30px !important;
}
.StudyAbroadCon .fi-right {
  margin-right: -10px !important;
}
.arrowIcon.show {
  opacity: 1;
}

.arrowIcon.hide {
  opacity: 0;
}
/* .react-multi-carousel-list {
  overflow: visible !important;
} */
/* .react-multiple-carousel__arrow {
  position: absolute !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(-3% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(-3% + 1px) !important;
} */

/* Media Queries */
@media (min-width: 1024px) and (max-width: 1199px) {
  .featuredClgCard a {
    font-size: 12px !important;
  }
  .bannerCon .carousel-control-prev {
    left: -50px;
  }
  .bannerCon .carousel-control-next {
    right: -50px;
  }
}

@media (max-width: 1139px) {
  .counsellingBtn {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  .top-nav {
    font-size: 12px !important;
  }
  .searchForm h5 {
    font-size: 19px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  header .fs-5 {
    font-size: 16px !important;
  }
  .footerCon {
    font-size: 12px !important;
  }
  .footerIcon img {
    width: 20px !important;
  }
  .footerCon h6 {
    font-weight: 500 !important;
    font-size: 15px !important;
  }
  .searchForm h5 {
    font-size: 19px !important;
  }

  .phone-icon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 11px 13px !important;
    border: none !important;
    width: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  .DownloadBrchrBtn {
    border-radius: 10px !important;
    border: none !important;
  }
  .DownloadBrchrBtn img {
    width: 200px !important;
  }
  .footer-arrow {
    transform: rotate(90deg) !important;
  }
  .arrowIcon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 11px 13px !important;
    border: none !important;
    width: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  .whatsappIcon {
    background-color: white !important;
    border-radius: 50% !important;
    border: 10px solid green !important;
    box-shadow: #00000073 0px 0px 15px !important;
    position: fixed !important;
    z-index: 100 !important;
    bottom: 130px !important;
    right: 30px !important;
    transform: rotate(270deg) !important;
  }
  .mainFooter {
    font-size: 12px !important;
  }
  .reviewBtn {
    border: 1px solid #274896 !important;
    color: #274896 !important;
    font-size: 12px !important;
  }
  .featuredClgCard .card-title {
    font-size: 18px !important;
  }
  .featuredClgCard .card-text {
    font-size: 12px !important;
  }
  .featuredClgCard a {
    font-size: 12px !important;
  }
  .bannerCon .carousel-control-prev {
    left: -35px;
  }
  .bannerCon .carousel-control-next {
    right: -35px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .bannerCon .carousel-control-prev {
    left: -22px;
  }
  .bannerCon .carousel-control-next {
    right: -22px;
  }
  .bannerFormSec {
    position: relative !important;
  }
  .searchBtn {
    padding: 4px 20px !important;
    font-size: 16px !important;
    color: white !important;
    background-color: #254692 !important;
  }
  .searchSec input[type='search'] {
    background: transparent !important;
    border: 1px solid white !important;
    padding: 4px 20px !important;
    font-size: 16px !important;
  }
  .searchSec {
    font-size: 12px !important;
    padding: 10px !important;
  }
  .bannerCon {
    height: 800px !important;
  }
  .bannerCon .carousel img {
    height: auto !important;
  }
  .bannerFormSec {
    top: -15% !important;
  }
  .searchSec {
    margin-top: 0px !important;
  }
  header {
    display: none !important ;
  }
  .whatsappIcon {
    background-color: white !important;
    border-radius: 50% !important;
    border: 10px solid green !important;
    box-shadow: #00000073 0px 0px 15px !important;
    position: fixed !important;
    z-index: 100 !important;
    bottom: 130px !important;
    right: 30px !important;
    transform: rotate(270deg) !important;
  }
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/icons/Banner Image.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 850px !important;
  }
  .footerCon .img-fluid {
    width: 100px !important;
  }
  .footerCon {
    font-size: 12px !important;
  }
  .footerIcon img {
    width: 20px !important;
  }
  .footerCon h6 {
    font-weight: 500 !important;
    font-size: 15px !important;
  }
  .phone-icon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 9px !important;
    border: none !important;
    width: 46px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  .DownloadBrchrBtn img {
    width: 120px !important;
  }
  .arrowIcon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 9px !important;
    border: none !important;
    width: 46px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  footer {
    font-size: 12px !important;
  }
  .featuredClgCard {
    margin-right: 0px !important;
  }
  .StudyAbroadCard {
    margin-right: 0px !important;
  }
  .StudyAbroadCon .carousel-button-group {
    top: 530px !important;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .studyAbroadNav a {
    font-size: 10px !important;
  }
  .bannerCon .carousel-control-prev {
    left: -15px;
  }
  .bannerCon .carousel-control-next {
    right: -15px;
  }
  .bannerCon {
    height: 730px !important;
  }
  .carousel-indicators {
    top: 675px !important;
  }
}
@media (max-width: 575px) {
  .FeaturedClgCon .fi-left {
    margin-left: 8px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .FeaturedClgCon .fi-right {
    margin-right: 32px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .StudyAbroadCon .fi-left {
    margin-left: 8px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .StudyAbroadCon .fi-right {
    margin-right: 32px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .StudyAbroadCon .carousel-button-group {
    top: 530px !important;
  }
}
@media (min-width: 425px) and (max-width: 575px) {
  .carousel-indicators {
    top: 725px !important;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .carousel-indicators {
    top: 790px !important;
  }
  .bannerCon {
    height: 840px !important;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .carousel-indicators {
    top: 670px !important;
  }
  .searchBtn {
    padding: 8px 20px !important;
    font-size: 10px !important;
  }
}
