@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  min-height: 100%;
  font-family: 'Poppins' !important;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #274896;
  /* color: #d400ff; */
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

.css-z0juvp-MuiTablePagination-root .MuiTablePagination-selectLabel {
  display: block;
  margin-bottom: 0px !important;
}
.MuiToolbar-root
  .MuiToolbar-gutters
  .MuiToolbar-regular
  .MuiTablePagination-toolbar
  .css-1iu2446-MuiToolbar-root-MuiTablePagination-toolbar
  p {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.css-lrt3ob-MuiDataGrid-footerContainer .MuiTablePagination-displayedRows,
.css-lrt3ob-MuiDataGrid-footerContainer .MuiTablePagination-selectLabel {
  color: rgba(47, 43, 61, 0.78);
  margin-bottom: 0px !important;
}
/* .MuiDataGrid-footerContainer .MuiTablePagination-selectLabel p{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
} */
.bg-header {
  background-color: rgba(39, 72, 150, 0.1) !important;
}
a {
  text-decoration: none !important;
}
.socialIcon img {
  width: 22px;
}
.socialText img {
  width: 18px;
}
.reviewBtn {
  border: 1px solid #274896 !important;
  color: #274896 !important;
}
.navbar-brand img {
  width: 150px;
}
.counsellingBtn {
  background-color: #274896 !important;
  color: white !important;
  padding: 15px !important;
  font-size: 12px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.top-nav .dropdown-menu .dropdown-item:hover,
.top-nav .dropdown-menu .dropdown-item:focus {
  border-left: 3px solid #254692 !important;
  color: black !important;
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.top-nav .dropdown-menu .btn:hover,
.top-nav .dropdown-menu .btn:focus {
  font-weight: bold !important;
}
.top-nav .dropdown-menu img {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
}
.top-nav .dropdown-menu .btn {
  color: #254692 !important;
}
.dropdown-menu li {
  position: relative !important;
}
.dropdown-menu .dropdown-submenu {
  display: none !important;
  position: absolute !important;
  left: 100% !important;
  top: -7px !important;
}
.dropdown-menu .dropdown-left-submenu {
  right: 100% !important;
  left: auto !important;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block !important;
}
.latestNewsCon .nav-pills button {
  background-color: rgb(208, 208, 208) !important;
  color: #254692 !important;
}
.latestNewsCon .nav-pills .active,
.latestNewsCon .nav-pills .active :focus,
.latestNewsCon .nav-pills .active :hover {
  background-color: #254692 !important;
  color: white !important;
}
.top-nav .active,
.top-nav .active :focus,
.top-nav .active :hover {
  color: #254692 !important;
  font-weight: bold !important;
  padding-bottom: 15px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3.1px !important;
  width: fit-content !important;
}
.top-nav {
  font-size: 15px !important;
}
nav a {
  color: black !important;
}
.socialText {
  font-size: 16px !important;
}
.sbtBtn {
  background-color: #254692 !important;
}
.bannerCon {
  position: relative !important;
  height: 600px !important;
}
.carousel {
  position: relative !important;
}
.bannerCon .carousel img {
  object-fit: cover !important;
  height: 600px !important;
}
.bannerFormSec {
  position: absolute !important;
  top: 12%;
  width: 100%;
}
.searchSec {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: saturate(180%) blur(8px) !important;
  color: white !important;
  border: 1px solid white !important;
  font-size: 16px !important;
  padding: 20px !important;
  border-radius: 10px !important;
  margin-top: 232px !important;
}
.searchSec .form-control {
  color: white !important;
}
.searchSec input[type='search'] {
  background: transparent !important;
  border: 1px solid white !important;
  padding: 10px 20px !important;
  font-size: 16px !important;
}
.searchSec input::placeholder {
  color: white !important;
}
.searchSec input:focus {
  outline: none !important;
}
/* .form-control {
  color: white !important;
} */
.searchBtn {
  padding: 10px 20px !important;
  font-size: 16px !important;
  color: white !important;
  background-color: #254692 !important;
}
.searchForm {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}
.submitBtn {
  background-color: #254692 !important;
  color: white !important;
  border-radius: 6px !important;
}
.carousel-indicators {
  top: 530px !important;
}
.bannerCon .carousel-control-prev {
  left: -70px;
}
.bannerCon .carousel-control-next {
  right: -70px;
}
.item {
  align-items: center;
  background-color: tomato;
  color: white;
  display: flex;
  height: 300px;
  justify-content: center;
}
.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white !important;
}

.carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
.Analysis-Section {
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.Analysis-Section img {
  width: 70px;
  margin-top: 11px;
}
.Analysis-Section h1 {
  color: #254692;
}
.Analysis-Section h6 {
  color: black;
  font-weight: bold;
}
.latestNewsCon {
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.latestNewsCon h3 {
  color: #254692;
}
.ExpertCon h3 {
  color: #254692;
}
.ExpertCon p {
  font-weight: 400;
  font-size: 16px;
}
.reqBtn button {
  background-color: #254692;
  color: white;
  padding: 10px 30px;
}
.text-blue {
  color: #254692 !important;
}
.card-con .card-text {
  font-size: 16px !important;
}
.readBtn {
  color: rgba(39, 72, 150, 1) !important;
  font-size: 16px !important;
  border: 1px solid rgba(39, 72, 150, 1) !important;
}
.exploreCon {
  background-color: rgba(39, 72, 150, 0.04) !important;
}
.exploreNav a {
  border: 1px solid rgba(39, 72, 150, 0.2) !important;
  border-radius: 0 !important;
  color: rgba(39, 72, 150, 0.6) !important;
}
.exploreNav .active,
.exploreNav .active :focus,
.exploreNav .active :hover {
  background-color: #254692 !important;
  color: white !important;
  border-radius: 0 !important;
}
.viewMoreCollegeBtn {
  background-color: #254692 !important;
  color: white !important;
}
.exploreNav a:focus {
  background-color: #254692 !important;
  color: white !important;
  border-radius: 0 !important;
}
#exploreCardCon .col-4 img {
  width: 60px;
  padding: 10px;
  filter: invert(15%) sepia(82%) saturate(2430%) hue-rotate(217deg) brightness(97%) contrast(81%);
  background-color: rgba(39, 72, 150, 0.1);
}
#exploreCardCon .card {
  border: none !important;
  box-shadow: rgba(51, 51, 51, 0.361) 0px 0px 15px !important;
}
#exploreCardCon .card h6 {
  font-size: 15px !important;
}
.studyAbroadNav a {
  border-radius: 0 !important;
  color: #8f8f8f !important;
  text-decoration: none !important;
}
.studyAbroadNav a:hover,
.studyAbroadNav a:focus {
  font-weight: bold !important;
  padding-bottom: 15px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3.1px !important;
  width: fit-content !important;
  color: #254692 !important;
}
.studyAbroadNav .active,
.studyAbroadNav .active :focus,
.studyAbroadNav .active :hover {
  font-weight: bold !important;
  padding-bottom: 15px !important;
  border-bottom-style: solid !important;
  border-bottom-width: 3.1px !important;
  width: fit-content !important;
  color: #254692 !important;
}
.footerCon {
  background-color: rgba(21, 41, 88, 1);
  font-size: 16px !important;
  font-weight: 200 !important;
}
.footerIcon img {
  width: 28px !important;
}
.footer-logo {
  width: 205px !important;
}
.footerCon a {
  text-decoration: none !important;
  color: white !important;
}
.download-img {
  width: 190px !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; /* remove the gap so it doesn't close */
}
.top-nav a:hover {
  color: #254692 !important;
}
.footerCon a:hover {
  color: skyblue !important;
}

footer {
  background-color: rgba(39, 72, 150, 1) !important;
}
footer img {
  width: 28px !important;
}
.icon-white {
  filter: invert(100%) sepia(100%) saturate(38%) hue-rotate(254deg) brightness(110%) contrast(110%) !important;
}
.phone-icon {
  background-color: white !important;
  border-radius: 50% !important;
  padding: 16px 18px !important;
  border: none !important;
  width: 64px !important;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  position: fixed !important;
  z-index: 100 !important;
  bottom: 45px !important;
  left: 20px !important;
}
.DownloadBrchrBtn {
  border-radius: 10px !important;
  border: none !important;
}
.DownloadBrchrBtn img {
  width: 200px !important;
}
.footer-arrow {
  transform: rotate(90deg) !important;
}
.arrowIcon {
  background-color: white !important;
  border-radius: 50% !important;
  padding: 16px 18px !important;
  border: none !important;
  width: 64px !important;
  box-shadow: #00000073 0px 0px 15px !important;
  position: fixed !important;
  bottom: 130px !important;
  right: 23px !important;
  z-index: 100 !important;
}
.whatsappIcon {
  background-color: white !important;
  border-radius: 50% !important;
  border: 20px solid green !important;
  box-shadow: #00000073 0px 0px 15px !important;
  position: fixed !important;
  z-index: 100 !important;
  bottom: 45px !important;
  right: 20px !important;
  transform: rotate(270deg) !important;
}
.featuredClgCard .card-text img {
  filter: invert(20%) sepia(35%) saturate(3748%) hue-rotate(210deg) brightness(93%) contrast(86%) !important;
}
.featuredClgCard .card-text {
  filter: invert(63%) sepia(0%) saturate(14%) hue-rotate(92deg) brightness(92%) contrast(92%);
}
.featuredClgCard a {
  background-color: white;
  color: #254692;
  border: 1px solid #254692 !important;
}
.featuredClgCard .active,
.featuredClgCard .active :focus,
.featuredClgCard .active :hover {
  background-color: #254692 !important;
  color: white !important;
  box-shadow: #254692 0px 0px 10px !important;
}
.featuredClgCard {
  margin-right: 10px !important;
}
.newsLinkSec {
  background-color: #274896;
  color: white;
}
.StudyAbroadCard .card-text img {
  filter: invert(20%) sepia(35%) saturate(3748%) hue-rotate(210deg) brightness(93%) contrast(86%) !important;
}
.StudyAbroadCard .card-text {
  filter: invert(63%) sepia(0%) saturate(14%) hue-rotate(92deg) brightness(92%) contrast(92%);
}
.StudyAbroadCard a {
  background-color: white;
  color: #254692;
  border: 1px solid #254692 !important;
}
.StudyAbroadCard {
  margin-right: 10px !important;
}
.nav-pills {
  border: 0 !important;
}
.carousel-container {
  overflow: visible !important;
}
.carousel-container {
  position: relative !important;
}
.newsLinkSec .carousel-button-group {
  margin: -50px 0px 0px 0px !important;
}
.FeaturedClgCon .carousel-button-group {
  position: absolute !important;
  top: 260px !important;
  width: 100%;
}
.FeaturedClgCon .fi-left {
  margin-left: -30px !important;
}
.FeaturedClgCon .fi-right {
  margin-right: -10px !important;
}
.StudyAbroadCon .carousel-button-group {
  position: absolute !important;
  top: 390px !important;
  width: 100%;
}
.StudyAbroadCon .fi-left {
  margin-left: -30px !important;
}
.StudyAbroadCon .fi-right {
  margin-right: -10px !important;
}
.arrowIcon.show {
  opacity: 1;
}

.arrowIcon.hide {
  opacity: 0;
}
.cardArrow {
  display: none !important;
}
#exploreCardCon .cardArrow span a img {
  filter: invert(68%) sepia(0%) saturate(0%) hue-rotate(143deg) brightness(95%) contrast(90%);
  background-color: none !important;
}
/* .react-multi-carousel-list {
  overflow: visible !important;
} */
/* .react-multiple-carousel__arrow {
  position: absolute !important;
}

.react-multiple-carousel__arrow--left {
  left: calc(-3% + 1px) !important;
}

.react-multiple-carousel__arrow--right {
  right: calc(-3% + 1px) !important;
} */

/* Media Queries */
/* @media (max-width: 991.98px) {
        .navbar-collapse {
            animation: slideInRight 0.5s forwards;
        }
    }

    @keyframes slideInRight {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0%);
        }
    } */
@media (min-width: 1024px) and (max-width: 1199px) {
  .featuredClgCard a {
    font-size: 12px !important;
  }
  .bannerCon .carousel-control-prev {
    left: -50px;
  }
  .bannerCon .carousel-control-next {
    right: -50px;
  }
}

@media (max-width: 1139px) {
  .counsellingBtn {
    font-size: 10px !important;
  }
}
@media (max-width: 1024px) {
  .top-nav {
    font-size: 12px !important;
  }
  .searchForm h5 {
    font-size: 19px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .top-nav .dropdown-menu img {
    width: 14px !important;
  }
  .dropdownBtn .btn {
    font-size: 12px !important;
  }
  .dropdown-menu {
    width: 50% !important;
    font-size: 12px !important;
  }
  .dropdown-menu .dropdown-submenu {
    width: 100% !important;
    font-size: 12px !important;
  }
  header .fs-5 {
    font-size: 16px !important;
  }
  .footerCon {
    font-size: 12px !important;
  }
  .footerIcon img {
    width: 20px !important;
  }
  .footerCon h6 {
    font-weight: 500 !important;
    font-size: 15px !important;
  }
  .searchForm h5 {
    font-size: 19px !important;
  }

  .phone-icon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 11px 13px !important;
    border: none !important;
    width: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  .DownloadBrchrBtn {
    border-radius: 10px !important;
    border: none !important;
  }
  .DownloadBrchrBtn img {
    width: 200px !important;
  }
  .footer-arrow {
    transform: rotate(90deg) !important;
  }
  .arrowIcon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 11px 13px !important;
    border: none !important;
    width: 50px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  .whatsappIcon {
    background-color: white !important;
    border-radius: 50% !important;
    border: 10px solid green !important;
    box-shadow: #00000073 0px 0px 15px !important;
    position: fixed !important;
    z-index: 100 !important;
    transform: rotate(270deg) !important;
  }
  .mainFooter {
    font-size: 12px !important;
  }
  .reviewBtn {
    border: 1px solid #274896 !important;
    color: #274896 !important;
    font-size: 12px !important;
  }
  .featuredClgCard .card-title {
    font-size: 18px !important;
  }
  .featuredClgCard .card-text {
    font-size: 12px !important;
  }
  .featuredClgCard a {
    font-size: 12px !important;
  }
  .bannerCon .carousel-control-prev {
    left: -35px;
  }
  .bannerCon .carousel-control-next {
    right: -35px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .carousel-indicators {
    display: none !important;
  }
  .top-nav .dropdown-menu img {
    width: 12px !important;
  }
  .dropdownBtn .btn {
    font-size: 12px !important;
  }
  .bannerCon .carousel-control-prev {
    left: -22px;
  }
  .bannerCon .carousel-control-next {
    right: -22px;
  }
  .bannerFormSec {
    position: relative !important;
  }
  .newsLinkSec .react-multi-carousel-list {
    width: 240px;
    margin: auto;
  }
  .searchBtn {
    padding: 4px 20px !important;
    font-size: 12px !important;
    color: white !important;
    background-color: #254692 !important;
  }
  .searchSec input[type='search'] {
    background: transparent !important;
    border: 1px solid white !important;
    padding: 4px 20px !important;
    font-size: 12px !important;
  }
  .searchSec {
    font-size: 12px !important;
    padding: 10px !important;
  }
  .bannerCon .carousel img {
    height: auto !important;
  }
  .bannerFormSec {
    top: -15% !important;
  }
  .searchSec p {
    margin-bottom: 7px !important;
  }
  .searchSec {
    margin-top: -10px !important;
  }
  header {
    display: none !important ;
  }
  .whatsappIcon {
    background-color: white !important;
    border-radius: 50% !important;
    border: 10px solid green !important;
    box-shadow: #00000073 0px 0px 15px !important;
    position: fixed !important;
    z-index: 100 !important;
    transform: rotate(270deg) !important;
  }
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/icons/Banner Image.jpg') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 850px !important;
  }
  .footerCon .img-fluid {
    width: 100px !important;
  }
  .footerCon {
    font-size: 12px !important;
  }
  .footerIcon img {
    width: 20px !important;
  }
  .footerCon h6 {
    font-weight: 500 !important;
    font-size: 15px !important;
  }
  .phone-icon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 9px !important;
    border: none !important;
    width: 46px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  .DownloadBrchrBtn img {
    width: 120px !important;
  }
  .arrowIcon {
    background-color: white !important;
    border-radius: 50% !important;
    padding: 9px !important;
    border: none !important;
    width: 46px !important;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 15px !important;
  }
  footer {
    font-size: 12px !important;
  }
  .featuredClgCard {
    margin-right: 0px !important;
  }
  .StudyAbroadCard {
    margin-right: 0px !important;
  }
  .StudyAbroadCon .carousel-button-group {
    top: 530px !important;
  }
  #exploreCardCon .mt-3 {
    margin: 1rem 0 !important;
  }
  #exploreCardCon .card-body {
    padding: 20px 0px 0px 0px !important;
  }
  .cardArrow {
    display: block !important;
    font-size: 30px;
    padding: 0.7rem 0px 0px 0px !important;
  }
}
@media (min-width: 320px) and (max-width: 424px) {
  .studyAbroadNav a {
    font-size: 10px !important;
  }
  .bannerCon .carousel-control-prev {
    left: -15px;
  }
  .bannerCon .carousel-control-next {
    right: -15px;
  }
}
@media (max-width: 575px) {
  .FeaturedClgCon .fi-left {
    margin-left: 8px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .FeaturedClgCon .fi-right {
    margin-right: 32px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .StudyAbroadCon .fi-left {
    margin-left: 8px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .StudyAbroadCon .fi-right {
    margin-right: 32px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .StudyAbroadCon .carousel-button-group {
    top: 530px !important;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .searchBtn {
    padding: 8px 20px !important;
    font-size: 10px !important;
  }
}
@media (min-width: 336px) and (max-width: 767px) {
  .dropdown-menu {
    width: 50% !important;
    font-size: 12px !important;
  }
  .dropdown-menu .dropdown-submenu {
    width: 100% !important;
    font-size: 12px !important;
  }
}
@media (min-width: 320px) and (max-width: 335px) {
  .dropdown-menu {
    width: 40% !important;
    font-size: 12px !important;
  }
  .dropdown-submenu {
    width: 50% !important;
    font-size: 12px !important;
  }
}
@media (min-width: 650px) and (max-width: 767px) {
  .bannerCon {
    height: 800px !important;
  }
}
@media (min-width: 426px) and (max-width: 649px) {
  .bannerCon {
    height: 750px !important;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .bannerCon {
    height: 700px !important;
  }
}

/* College Page CSS */

/* Banner Section */
.collegeBannerCon {
  height: 300px !important;
}
/* College Filter Section */
.bg-skyBlue {
  background-color: #f6f8fb !important;
}
.icon-rtl {
  padding-right: 25px !important;
  background: url('../public/images/icons/search.svg') no-repeat right;
  background-size: 23px !important;
}
.searchCheckBox {
  font-size: 20px !important;
}
.collegeSearchFilter {
  font-size: 20px !important;
  /* height: 2000px; */
}
.collegeSearchFilter .form-control::placeholder {
  font-size: 20px !important;
}
.filterSelectedSec {
  border-radius: 10px;
}
.filterCardCon img {
  width: 134px;
  height: 154px;
  object-fit: cover;
  border-radius: 10px;
}
.activeBtn {
  background-color: #254692 !important;
  color: white !important;
  border-radius: 6px !important;
  padding: 10px 20px !important;
}
.viewMoreBtn {
  background-color: white !important;
  color: #254692 !important;
  border: 1px solid #254692 !important;
  border-radius: 6px !important;
  padding: 10px 20px !important;
}
.filterCardBorder {
  border: 1px solid gray;
  border-radius: 6px !important;
}
.selectedFilterBtn {
  background-color: #254692 !important;
  color: white !important;
}
.bg-blue {
  background-color: #254692;
}
.ExpertSbtBtn {
  background-color: #254692 !important;
  color: white !important;
  padding: 10px 20px !important;
  box-shadow: rgba(21, 41, 88, 1) 0px 0px 15px !important;
}
.ApplyNowBtn {
  background-color: #254692 !important;
  color: white !important;
  font-size: 10px !important;
}
.viewDetailsBtn {
  background-color: white !important;
  color: #254692 !important;
  border: 1px solid #254692 !important;
  border-radius: 10px !important;
  font-size: 10px !important;
}
.topFeaturedClgCard {
  margin-right: 10px !important;
}
.topFeaturedClgSec .carousel-button-group {
  position: absolute !important;
  top: 240px !important;
  width: 100%;
}
.topFeaturedClgSec .fi-left {
  margin-left: -30px !important;
}
.topFeaturedClgSec .fi-right {
  margin-right: 0px !important;
}
.intl-tel-input {
  display: table-cell;
}
.intl-tel-input .selected-flag {
  z-index: 4;
}
.intl-tel-input .country-list {
  z-index: 5;
}
.input-group .intl-tel-input .form-control {
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
}
.iti {
  width: 100% !important;
}
.phoneInput input::placeholder {
  color: transparent !important;
}
@media (min-width: 768px) and (max-width: 992px) {
  .filterCardText h6 {
    font-size: 12px !important;
  }
  .clgfilterCardBtn .btn {
    font-size: 12px !important;
  }
  .activeBtn {
    background-color: #254692 !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 10px 20px !important;
    font-size: 12px !important;
  }
  .viewMoreBtn {
    background-color: white !important;
    color: #254692 !important;
    border: 1px solid #254692 !important;
    border-radius: 6px !important;
    padding: 10px 20px !important;
    font-size: 12px !important;
  }
  .text-spacing {
    margin: 0px 20px !important;
  }
  .text-spacing h2 {
    font-size: 25px !important;
  }
}
@media (max-width: 575px) {
  .topFeaturedClgSec .fi-left {
    margin-left: 8px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
  .topFeaturedClgSec .fi-right {
    margin-right: 40px !important;
    background-color: white;
    border-radius: 25px;
    padding: 2px 8px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .collegeSearchFilter {
    font-size: 10px !important;
  }
  .collegeSearchFilter input[type='search']::placeholder {
    font-size: 10px !important;
  }
  .collegeSearchFilter .form-check {
    font-size: 12px !important;
  }
  .activeBtn {
    background-color: #254692 !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 5px 10px !important;
    font-size: 10px !important;
  }
  .viewMoreBtn {
    background-color: white !important;
    color: #254692 !important;
    border: 1px solid #254692 !important;
    border-radius: 6px !important;
    padding: 5px 10px !important;
    font-size: 10px !important;
  }
  .text-spacing {
    padding: 20px 0px !important;
  }
}

/* College Details Page */
.collegeDetailBanner {
  height: 300px;
}
.collegeDetailCard {
  width: 700px !important;
}
.collegeDetailCard {
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: saturate(180%) blur(8px) !important;
  padding: 20px;
}
.collegeDetailCard img {
  width: 100% !important;
  height: auto;
  object-fit: cover;
}
.location-img img {
  width: 20px !important;
}
.collegeDetailCard p {
  font-size: 12px !important;
}
.PrivateBtn {
  background: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: saturate(180%) blur(8px) !important;
  color: white !important;
}
.downloadBtn {
  background-color: #254692 !important;
  color: white !important;
  box-shadow: #254692 0px 2px 25px;
}
.freeBtn {
  background-color: white !important;
  color: #254692 !important;
}
@media (min-width: 320px) and (max-width: 767px) {
  .collegeDetailCard {
    width: 100vw !important;
    height: auto !important;
  }
  .collegeDetailCard img {
    width: 40% !important;
    height: auto;
    object-fit: cover;
  }
  .location-img img {
    width: 20px !important;
  }
  .PrivateBtn {
    font-size: 12px !important;
  }
  .downloadBtn {
    font-size: 12px !important;
    width: 100%;
  }
  .freeBtn {
    font-size: 12px !important;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .downloadBtn {
    font-size: 10px !important;
  }
  .freeBtn {
    font-size: 10px !important;
  }
}

/* College Info Section */
.infoBtn .btn {
  border: 1px solid rgba(212, 218, 234, 1);
  border-radius: 0;
  color: #254692;
}
.infoBtn .btn:active {
  border: 1px solid rgba(212, 218, 234, 1) !important;
  border-radius: 0 !important;
  color: #254692 !important;
}
.infoBtn .btn:hover {
  border: 1px solid rgba(212, 218, 234, 1) !important;
  border-radius: 0 !important;
  color: #254692 !important;
}
.infoBtn .btn:focus {
  border: 1px solid rgba(212, 218, 234, 1) !important;
  border-radius: 0 !important;
  color: #254692 !important;
}
.infoBtn .active {
  color: white !important;
  font-weight: bold !important;
  background-color: #254692 !important;
}
.infoBtn .active:focus {
  color: white !important;
  font-weight: bold !important;
  background-color: #254692 !important;
}
.applyNowImg {
  background-image: url('../public/images/icons/filter-card.jpg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 58vh;
}
.applyNowImg a.btn {
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yotubeImg {
  background-image: url('../public/images/icons/youtubeClg.jpg') !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 70vh;
}
.yotubeImg a.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.facilitiesSec .card {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}
.facilitiesSec .card-title {
  font-size: 12px !important;
}
.facilitiesSec .card img {
  filter: invert(15%) sepia(82%) saturate(2430%) hue-rotate(217deg) brightness(97%) contrast(81%);
}
.locatedSec {
  background-color: #254692 !important;
}
.locatedSec .location-img h6 {
  font-size: 14px !important;
}
.locatedSec .location-img p {
  font-size: 12px !important;
}
.locatedSec .location-img img {
  width: 14px !important;
}
.PrivateCardBtn {
  font-size: 12px !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
}
.bg-lightCard {
  background-color: rgba(255, 255, 255, 0.1) !important;
  border: none !important;
}
.clgImg {
  width: 100% !important;
  height: auto;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 992px) {
  .clgImg {
    width: 50% !important;
    height: 100px;
    object-fit: cover;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .clgImg {
    width: 30% !important;
    height: 100px;
    object-fit: cover;
  }
}

/* Courses Page */
.courseSec .form-control {
  background-color: transparent !important;
}
.courseSec input[type='search']::placeholder {
  color: white !important;
}
.courseSec input[type='search'] {
  color: white !important;
}
.checkBtn {
  border: 1px solid white !important;
}
.trendCrsBtn {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}
.coursesCardImg img {
  width: 100%;
}
.coursesBtn .btn {
  font-size: 12px;
}
.viewAllBtn {
  color: #254692 !important;
  border: 1px solid #254692 !important;
  padding: 10px 15px !important;
  font-size: 10px !important;
}
.min-vh-card {
  min-height: 75px !important;
}
@media (min-width: 992px) and (max-width: 1024px) {
  .coursesCardImg img {
    width: 6.5vw;
    height: 22vh;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .coursesCardImg img {
    width: 100%;
    height: 90%;
  }
  .min-vh-card {
    min-height: 0 !important;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .checkBtn {
    font-size: 12px !important;
  }
  .srchBtn {
    font-size: 12px !important;
  }
  .courseSec input[type='search']::placeholder {
    font-size: 12px !important;
  }
}
